# k8s/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: truckmatch-api
  namespace: truckmatch
  labels:
    app: truckmatch-api
spec:
  replicas: 3
  selector:
    matchLabels:
      app: truckmatch-api
  template:
    metadata:
      labels:
        app: truckmatch-api
    spec:
      containers:
      - name: truckmatch-api
        image: fernandoamz/truckmatch-api:latest
        ports:
        - containerPort: 5000
        env:
        - name: PORT
          valueFrom:
            configMapKeyRef:
              name: truckmatch-config
              key: PORT
        - name: NODE_ENV
          valueFrom:
            configMapKeyRef:
              name: truckmatch-config
              key: NODE_ENV
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: truckmatch-secrets
              key: DATABASE_URL
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: truckmatch-secrets
              key: JWT_SECRET
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /
            port: 5000
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 5000
          initialDelaySeconds: 5
          periodSeconds: 5
